---

---

@import "variables";

@import "grid";
@import "type";
@import "clickable";
@import "header";
@import "article";
@import "responsive-images";


.full-screen-selfie {
  width: 100%;
  height: 60vw;
  max-height: 100vh;

  overflow: hidden;

  background-size: cover;
  background-position: bottom;
  background-image: url("/images/DSC00178.jpg");
}
