---

---


//
// GCSS Important numbers
//

$line: 24;
$column: 100% / 18;
$font-size: 16;
$em: $font-size * 1;



/*
*
*  Simple fluid media settings
*
*/

figure {
	position: relative;
}
figure img, figure object, figure embed, figure video {
	max-width: 100%;
	display: block;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}



/*
*
*	Zoomable baseline grid
*	type size presets
*
*/

body {
	/* 16px / 24px */
	font-size: $font-size / 16 * 1em;
	line-height: #{$line / $em}em;

  font-family: 'cooper_hewittmedium', helvetica, arial;
}

@mixin small {
	/* 13px / 18px */
	font-size: #{($font-size*0.8125) / $em}em;
	line-height: ($line*0.75) / ($font-size*0.8125) * 1em;
}
@mixin normal {
	/* 16px / 24px */
	font-size: #{$font-size / $em}em;
	line-height: #{$line / $em}em; /* 24 */
}

h3 {
	@include normal;
}

@mixin large {
	/* 26 / 36px */
	font-size: #{26 / $em}em;
	line-height: ($line*1.5) / 26 * 1em;
}

h2, h1 {
	@include large;
}

@mixin huge {
	/* 42px / 48px */
	font-size: #{42 / $em}em;
	line-height: ($line*2) / 42 * 1em;
}

@mixin massive {
	/* 68px / 72px */
	font-size: #{68 / $em}em;
	line-height: ($line*3) / 68 * 1em;
}

@mixin gigantic {
	/* 110px / 120px */
	font-size: #{110 / $em}em;
	line-height: ($line*5) / 110 * 1em;
}


/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/

header, #twoway {
	margin: 0 $column;
}

h1, h2 {
	margin: (24/26*1em) 0 (36/26*1em);
}

h2 {
	font-weight: normal;
}

h3 {
	margin: #{24/$em}em 0 #{24/$em}em;
}

/*
*  Simple elastic gutters
*  Note: box-sizing will not work in IE6-7
*/

.wrapper {
	padding: 0 #{($line/2)/$em}em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
			    box-sizing: border-box;
}









header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  mix-blend-mode: luminosity;
  z-index: 1000000;

}

header.clickable-container {
  position: fixed;
  z-index: 10000;
}

img.full-screen {
  width: 100%;
}

p {
	margin: 0;
}
p::before {
	content: "¶ ";
	opacity: 0.4;
}

em {
	font-style: normal;
	font-family: "cooper_hewittbold", helvetica, arial;
}

a {
	color: inherit;
}
a:hover {
	opacity: 0.8;
}
a.no-underline {
  text-decoration: none;
}



.clickable {
  cursor: pointer;
}

.clickable-container {
  position: relative;
	font-family: "cooper_hewittbold", helvetica, arial;
}

.first-clickable {
  position: absolute;
  color: cyan;
  transform: translate(0.1em, 0em);
  transition: transform .05s;

}

.second-clickable {
  position: absolute;
  transform: translate(-0.05em, -0.1em);
  color: yellow;
  transition: transform .05s;
}

.third-clickable {
  position: relative;
  transform: translate(0.05em, 0.1em);
  color: magenta;
  transition: transform .05s;

  display: inline-block;
}

.clickable-container:hover > .first-clickable {
  transform: translate(-0.1em, -0.05em);
}

.clickable-container:hover > .second-clickable {
  transform: translate(-0.2em, -0.25em);
}

.clickable-container:hover > .third-clickable {
  transform: translate(0.1em, 0.2em);
}

.clickable-container:active > .first-clickable,
.clickable-container:active > .second-clickable,
.clickable-container:active > .third-clickable {
    transform: translate(0em, 0em);
}
