* {
}
body {
	font-size: 24px;
	color: #2E2E2E;
  padding-bottom: 100000px;
  font-family: 'cooper_hewittmedium', helvetica, arial;
}

header {
  font-family: 'cooper_hewittbold', helvetica, arial;
	margin: 24px 0px 48px 0px;
  font-size: 72px;
  letter-spacing: 0.15em;
  position: fixed;
  top: 0;
  text-align: center;
  left: 0;
  right: 0;

   mix-blend-mode: luminosity;
   color: yellow;

  z-index: 1000000;

}

header.clickable-container {
  position: fixed;
  z-index: 10000;
}

img.full-screen {
  width: 100%;
}

p {
	margin: 0;
}
p::before {
	content: "¶ ";
	opacity: 0.4;
}

em {
	font-style: normal;
	font-family: "cooper_hewittbold", helvetica, arial;
}

a {
	color: inherit;
}
a:hover {
	opacity: 0.8;
}
a.no-underline {
  text-decoration: none;
}



.clickable {
  cursor: pointer;
}

.clickable-container {
  position: relative;
	font-family: "cooper_hewittbold", helvetica, arial;
}

.first-clickable {
  position: absolute;
  color: cyan;
  transform: translate(0.1em, 0em);
  transition: transform .05s;

}

.second-clickable {
  position: absolute;
  transform: translate(-0.05em, -0.1em);
  color: yellow;
  transition: transform .05s;
}

.third-clickable {
  position: relative;
  transform: translate(0.05em, 0.1em);
  color: magenta;
  transition: transform .05s;

  display: inline-block;
}

.clickable-container:hover > .first-clickable {
  transform: translate(-0.1em, -0.05em);
}

.clickable-container:hover > .second-clickable {
  transform: translate(-0.2em, -0.25em);
}

.clickable-container:hover > .third-clickable {
  transform: translate(0.1em, 0.2em);
}

.clickable-container:active > .first-clickable,
.clickable-container:active > .second-clickable,
.clickable-container:active > .third-clickable {
    transform: translate(0em, 0em);
}
