.article {
  margin-bottom: 20vw;
}


.article-body {
	@include full-width-container;
}

.article-title {
  text-align: center;
  font-size: 3em;
  line-height: 1;
  margin: 9vw 0;
  color: $color-black;
}

.article-date {
  text-align: center;
  display: block;
}

.article-date::before {
  content: "[ "
}
.article-date::after {
  content: " ]"
}




blockquote {
  margin: 0;
  padding: 1em 2em;
  line-height: 1.4;
  font-weight: 600;

  .attribution {
    margin-top: 1em;
    font-weight: 300;
  }
}
/*
*
*  Eight-column grid active
*
*/
@media screen and (min-width: $eight-column-width) {

  .article-body {
    @include centered-column-container;
  }

  blockquote {
    margin: 0 -2 * $column;
    padding: 0;
    font-size: 2em;

    .attribution {
      font-size: 0.5em;
    }


    .attribution {
      margin-top: 1em;
      font-size: 0.5em;
      font-weight: 300;
    }
  }

  .article-title {
    font-size: 6em;
  }
}


/*
*
*  Sixteen-column grid active
*
*/

@media screen and (min-width: $sixteen-column-width) {

  .article-body {
    @include tiny-centered-column-container;
  }

  .article-title {
    font-size: 9em;
  }
}
