
.clickable {
  cursor: pointer;
}

.clickable-container {
  position: relative;
	font-family: "cooper_hewittbold", helvetica, arial;
}

.first-clickable {
  position: absolute;
  color: cyan;
  transform: translate(0.1em, 0em);
  transition: transform .05s;

}

.second-clickable {
  position: absolute;
  transform: translate(-0.05em, -0.1em);
  color: yellow;
  transition: transform .05s;
}

.third-clickable {
  position: relative;
  transform: translate(0.05em, 0.1em);
  color: magenta;
  transition: transform .05s;

  display: inline-block;
}

.clickable-container:hover > .first-clickable {
  transform: translate(-0.1em, -0.05em);
}

.clickable-container:hover > .second-clickable {
  transform: translate(-0.2em, -0.25em);
}

.clickable-container:hover > .third-clickable {
  transform: translate(0.1em, 0.2em);
}

.clickable-container:active > .first-clickable,
.clickable-container:active > .second-clickable,
.clickable-container:active > .third-clickable {
    transform: translate(0em, 0em);
}
