// My grid is based off the golden grid system by jonikorpi
// https://github.com/jonikorpi/Golden-Grid-System



body {
	margin: 0;
	padding: 0;
}



// Wrappers wrap the content of the grid.
// They have padding that forms the gutters between columns
.wrapper {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
			    box-sizing: border-box;

	padding: 0 $gutter;
}



// Some responsive media stuff
figure {
	position: relative;
	margin: 5em 0;
}


figure img, figure object, figure embed, figure video {
	max-width: 100%;
	display: block;
}

figure.full-bleed {

}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}


// These containers set themselves to conform to the columns of the grid

@mixin full-width-container {
	margin: 0 $column;
}

@mixin centered-column-container {
	margin: 0 $column*3;
}

@mixin tiny-centered-column-container {
	margin: 0 $column*5;
}
// These containers set themselves to conform to the columns of the grid





/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/

header, #twoway {
	margin: 0 $column;
}

h1, h2 {
	margin: (24/26*1em) 0 (36/26*1em);
}

h2 {
	font-weight: normal;
}

h3 {
	margin: #{24/$em}em 0 #{24/$em}em;
}

/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*
*
*/

/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {

	body {
		/* Reset baseline grid to 16/16 = 1 */
		font-size: #{($font-size) / $em}em;
	}

	#twoway .wrapper {
		float: left;
		width: 50%;
	}

}


/* @media screen and (min-width: 888px) */
@media screen and (min-width: 55.5em) {

	body {
		/* Zoom baseline grid to 17/16 = 1.0625 */
		font-size: #{($font-size + 1) / $em}em;
	}
}


/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {

	body {
		/* Reset baseline grid to 16/16 = 1.0 */
		font-size: #{($font-size) / $em}em;
	}

	header, #twoway {
		margin: 0 $column*3;
	}

}


/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 75em) {

	body {
		/* Zoom baseline grid to 17/16 = 1.0625 */
		font-size: #{($font-size + 1) / $em}em;
	}

}


/* @media screen and (min-width: 1392px) */
@media screen and (min-width: 87em) {

	body {
		/* Reset baseline grid to 16/16 = 1.0 */
		font-size: #{($font-size) / $em}em;
	}

	header, #twoway {
		margin: 0 $column*5;
	}

}


/* @media screen and (min-width: 1680px) */
@media screen and (min-width: 105em) {

	body {
		/* Zoom baseline grid to 17/16 = 1.0625 */
		font-size: #{($font-size + 1) / $em}em;
	}

}


/*
*
*  Sixteen-column grid active
*  ----------------------------------------------------------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
*  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
*
*
*/

/* @media screen and (min-width: 1872px) */
@media screen and (min-width: 117em) {

	header, #twoway {
		margin: 0 $column*1;
	}

	header .wrapper {
		width: 37.5%;
		margin-left: 25%;
	}

	#twoway .wrapper {
		width: 25%;
	}

	#twoway .wrapper:first-child {
		margin-left: 25%;
	}

}


/* @media screen and (min-width: 2080px) */
@media screen and (min-width: 130em) {

	body {
		/* Zoom baseline grid to 18/16 = 1.125 */
		font-size: #{($font-size + 2) / $em}em;
		max-width: (2560/$em)em;
	}

}
