header {
  grid-column: content-start / content-end;

  padding: 1 * $spacing-unit 0;

  display: flex;
  justify-content: space-between;

  .nav-grouping-right {
    display: flex;
    .nav-item {
      margin-left: $spacing-unit * 2;
    }
  }
}
