header {
  @include full-width-container;

  position: fixed;
  top: 24/26*1em;

  left: 0;
  right: 0;

  mix-blend-mode: luminosity;
  z-index: 1000000;
}


header.is-hidden {
  opacity: 0.0;
  transition: opacity 0.5s ease;
}

header.is-shown {
  opacity: 1;
  transition: opacity 0.5s ease;
}
