.index-wow {
  left: 11%;
  top: -4rem;
  transform: rotate(32deg);

  @include media-query($on-palm) {
    top: -4.5rem;
  }
}

.index-meh {
  right: 0rem;
  top: 12rem;

  @include media-query($on-tablet) {
    top: 4rem;
    right: -2rem;
  }

  @include media-query($on-palm) {
    right: -2.2rem;
    top: -2rem;
  }
}

.index-smile {
  left: 45%;
  bottom: -4.5rem;
  transform: rotate(23deg);
}

.index-content {
  grid-column: content-start / content-end;
}

.index-text {
  @include stroke-text;

  font-size: 120px;
  line-height: 1;
  letter-spacing: -0.01em;
  position: relative;

  @include media-query($on-tablet) {
    font-size: 90px;
  }
  @include media-query($on-palm) {
    font-size: 47px;
    margin-top: 5vh;
  }
}
