


body {
	font-family: 'source serif pro', helvetica, arial;



		font-size: $font-size / 16 * 1em / 1.4;
		line-height: #{$line / $em}em;

		font-weight: 400;
}


/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*
*
*/

@media screen and (min-width: $eight-column-width) {

	body {
		/* set font size to something a little smaller,
		 	 and make the font weight slightly darker.
	  */


		font-size: $font-size / 16 * 1em;
		line-height: #{$line / $em}em;
		font-weight: 300;
	}

}



/*
*
*	Zoomable baseline grid
*	type size presets
*
*/


@mixin small {
	/* 13px / 18px */
	font-size: #{($font-size*0.8125) / $em}em;
	line-height: ($line*0.75) / ($font-size*0.8125) * 1em;
}
@mixin normal {
	/* 16px / 24px */
	font-size: #{$font-size / $em}em;
	line-height: #{$line / $em}em; /* 24 */
}

h3 {
	@include normal;
}

@mixin large {
	/* 26 / 36px */
	font-size: #{26 / $em}em;
	line-height: ($line*1.5) / 26 * 1em;
}

h2, h1 {
	@include large;
}

@mixin huge {
	/* 42px / 48px */
	font-size: #{42 / $em}em;
	line-height: ($line*2) / 42 * 1em;
}

@mixin massive {
	/* 68px / 72px */
	font-size: #{68 / $em}em;
	line-height: ($line*3) / 68 * 1em;
}

@mixin gigantic {
	/* 110px / 120px */
	font-size: #{110 / $em}em;
	line-height: ($line*5) / 110 * 1em;
}




h1, h2 {
	margin: (24/26*1em) 0 (36/26*1em);
}

h2 {
	font-weight: normal;
}

h3 {
	margin: #{24/$em}em 0 #{24/$em}em;
}


.article-title {
	font-family: 'cooper_hewittbold', helvetica, arial;
	text-transform: uppercase;
}

a {
	color: inherit;
}
a:hover {
	opacity: 0.8;
}
