


body {
	font-family: $body-font-stack;

	font-size: $font-size / 16 * 1em / 1.4;
	line-height: #{$line / $em}em;

	font-weight: 300;
	color: $color-gray-dark;
}


/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*
*
*/

@media screen and (min-width: $eight-column-width) {

	body {
		/* set font size to something a little smaller,
		 	 and make the font weight slightly darker.
	  */


		font-size: $font-size / 16 * 1em;
		line-height: #{$line / $em}em;
		font-weight: 300;
	}

}



/*
*
*	Zoomable baseline grid
*	type size presets
*
*/


@mixin small {
	/* 13px / 18px */
	font-size: #{($font-size*0.8125) / $em}em;
	line-height: ($line*0.75) / ($font-size*0.8125) * 1em;
}
@mixin normal {
	/* 16px / 24px */
	font-size: #{$font-size / $em}em;
	line-height: #{$line / $em}em; /* 24 */
}

h3 {
	@include normal;
}

@mixin large {
	/* 26 / 36px */
	font-size: #{26 / $em}em;
	line-height: ($line*1.5) / 26 * 1em;
}

h2, h1 {
	@include large;
}

@mixin huge {
	/* 42px / 48px */
	font-size: #{42 / $em}em;
	line-height: ($line*2) / 42 * 1em;
}

@mixin massive {
	/* 68px / 72px */
	font-size: #{68 / $em}em;
	line-height: ($line*3) / 68 * 1em;
}

@mixin gigantic {
	/* 110px / 120px */
	font-size: #{110 / $em}em;
	line-height: ($line*5) / 110 * 1em;
}




h1, h2 {
	margin: (24/26*1em) 0 (36/26*1em);
}

h2 {
	font-weight: normal;
}

h3 {
	margin: #{24/$em}em 0 #{24/$em}em;
}


.article-title {
	font-family: $title-font-stack;
	padding: 0 0.2em;
	text-transform: uppercase;
}

em {
	font-weight: bolder;
	font-style: normal;
}

h3 {
	font-family: $title-font-stack;
	text-transform: uppercase;
	font-size: 1.5em;
	margin-bottom: 0em;
}

ul {
	margin: 0 0;
}

a {
	text-decoration: none;
	color: inherit;
}

p, blockquote, ul, ol {
	 a {


		color: $color-gray-lighter;

		/* Creates a text underline with a gradient */
		background-image: linear-gradient(#fff, #fff),
											linear-gradient(#fff, #fff),
											linear-gradient($color-gray-lighter, $color-gray-lighter);

		background-size: 0.1em   0.01em,
										 0.1em   0.07em,
										 0.07em, 0.07em;

		background-repeat: no-repeat,no-repeat, repeat-x;
		background-position-y: 90%, 90%, 90%;
		background-position-x: 0%, 100%, 100%;

		text-shadow: 1px  0px white,
								-1px  0px white,
								 2px  0px white,
								-2px  0px white,
								 3px  0px white,
								-3px  0px white,
								 4px  0px white,
								-4px  0px white,

								 1px  1px white,
								-1px  1px white,
								 2px  1px white,
								-2px  1px white,
								 3px  1px white,
								-3px  1px white,
								 4px  1px white,
								-4px  1px white,

								 1px -1px white,
								-1px -1px white,
								 2px -1px white,
								-2px -1px white,
								 3px -1px white,
								-3px -1px white,
								 4px -1px white,
								-4px -1px white;
	}

	a:hover {
		text-decoration: none;
		color: $color-gray-lightest;

		background-image: linear-gradient(#fff, #fff),
											linear-gradient(#fff, #fff),
											linear-gradient($color-gray-lightest, $color-gray-lightest);
	}
}


.dark a {
	color: $color-gray-dark;

	background-image: linear-gradient($color-black, $color-black),
										linear-gradient($color-black, $color-black),
										linear-gradient($color-gray-dark, $color-gray-dark);



	text-shadow: 1px  0px $color-black,
							-1px  0px $color-black,
							 2px  0px $color-black,
							-2px  0px $color-black,
							 3px  0px $color-black,
							-3px  0px $color-black,
							 4px  0px $color-black,
							-4px  0px $color-black,

							 1px  1px $color-black,
							-1px  1px $color-black,
							 2px  1px $color-black,
							-2px  1px $color-black,
							 3px  1px $color-black,
							-3px  1px $color-black,
							 4px  1px $color-black,
							-4px  1px $color-black,

							 1px -1px $color-black,
							-1px -1px $color-black,
							 2px -1px $color-black,
							-2px -1px $color-black,
							 3px -1px $color-black,
							-3px -1px $color-black,
							 4px -1px $color-black,
							-4px -1px $color-black;

	&:hover {

		color: $color-gray-darker;

		background-image: linear-gradient($color-black, $color-black),
											linear-gradient($color-black, $color-black),
											linear-gradient($color-gray-darker, $color-gray-darker);
	}

}
